.filter_tasks_button {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_bold);
  color: var(--dark_grayish_blue);
  border: none;
  outline: none;
  background: transparent;
}

.filter_tasks_button:hover {
  color: var(--very_dark_grayish_blue);
  cursor: pointer;
  transition: .3s all ease-in;
}

.button_active {
  color: var(--bright_blue);
}

.button_active:hover {
  color: var(--bright_blue);
}