.task {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: var(--very_light_gray);
  border-bottom: 1px solid var(--light_grayish_blue);
  display: flex;
  justify-content: space-between;
}

.task_wrapper {
  display: flex;
  gap: 18px
}

.task_button {
  background-color: transparent;
  border: none;
}

.task_button_img {
  width: 15px;
}

.task_description {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_bold);
  color: var(--very_dark_grayish_blue);
}

.task_description_done {
  text-decoration: line-through;
  color: var(--light_grayish_blue);
  font-weight: var(--font_medium);
}