.form {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--very_light_gray);
}

.form_input {
  width: 100%;
  border: none;
  padding: 8px;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
  font-weight: var(--font_medium);
  font-size: 18px;
}

.form_input::placeholder {
  color: var(--dark_grayish_blue);
}