.form {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--very_light_gray);
}

.form_input {
  width: 100%;
  border: none;
  padding: 25px;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
  font-weight: var(--font_medium);
  font-size: 1rem;
}

.form_input:focus {
  background-color: transparent;
}

.form_input::placeholder {
  color: var(--dark_grayish_blue);
}

@media (min-width: 64rem) {
  .form {
    width: 50%;
  }
}

@media (min-width: 90rem) {
  .form {
    width: 40%;
  }

  .form_input {
    font-size: 1.125rem;
    padding: 22px;
  }
}
