.listTasks {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  background: var(--very_light_grayish_blue);
}

.listTasks_wrapper {
  list-style: none;
  position: absolute;
  top: -25px;
  width: 90%;
  padding: 8px 0;
  border-radius: 8px;
  background: var(--very_light_gray);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.listTasks_content_text {
  position: absolute;
  bottom: -160px;
  display: flex;
  place-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.listTasks_text {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_medium);
  color: var(--dark_grayish_blue);
}

@media (min-width: 64rem) {
  .listTasks_wrapper {
    top: -50px;
    width: 50%;
  }
  .listTasks_content_text {
    bottom: -80px;
  }
}

@media (min-width: 90rem) {
  .listTasks_wrapper {
    top: -60px;
    width: 40%;
  }
}

@media (prefers-color-scheme: dark) {
  .listTasks.dark-scheme {
    background: var(--dark_very_dark_blue);
  }
  .listTasks_wrapper.dark-scheme {
    background: var(--dark_very_dark_desaturated_blue);
  }
}
