.listTasks {
  width: 100%;
  position: relative;
  display: flex;
  place-content: center;
  background: var(--very_light_grayish_blue);
}

.listTasks_wrapper {
  position: absolute;
  top: -25px;
  width: 90%;
  padding: 8px 0;
  border-radius: 8px;
  background-color: var(--very_light_gray);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .15);
}