.button_done {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--light_grayish_blue);
  background-color: transparent;
}

.active {
  background: var(--check_background);
}
