.footer_tasks {
  padding: 20px;
}

.footer_tasks_wrapper {
  display: grid;
  grid-template-areas: "items clear";
  justify-content: space-between;
  position: relative;
  top: 4px;
}

.footer_tasks_items {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_medium);
  color: var(--dark_grayish_blue);
  grid-area: items;
}

.footer_tasks_button {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_medium);
  color: var(--dark_grayish_blue);
  border: none;
  outline: none;
  background: transparent;
  grid-area: clear;
}
