.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-family: var(--font);
  font-weight: var(--font_bold);
  font-size: 2.375rem;
  color: var(--very_light_gray);
}

.header_img {
  width: 28px;
  height: 28px;
}

@media (min-width: 64rem) {
  .header {
    width: 40%;
  }
  .header_title {
    font-size: 40px;
  }
}
