.buttonClear {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--font_medium);
  color: var(--dark_grayish_blue);
  border: none;
  outline: none;
  background: transparent;
  grid-area: clear;
}

.buttonClear:hover {
  color: var(--very_dark_grayish_blue);
  cursor: pointer;
  transition: 0.3s all ease-in;
}

.not_allowed {
  cursor: not-allowed;
}

.not_allowed:hover {
  color: var(--dark_grayish_blue);
}

@media (prefers-color-scheme: dark) {
  .buttonClear:hover.dark-scheme {
    color: var(--very_light_gray);
  }
}
