.app_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 260px;
  background-image: url(../src/assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 64rem) {
  .app_wrapper {
    background-image: url(../src/assets/bg-desktop-light.jpg);
    background-size: contain;
    height: 305px;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 80px;
  }
}
