.app_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 260px;
  background-image: url(../src/assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}