.app_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 260px;
  background-image: url(../src/assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 64rem) {
  .app_wrapper {
    background-image: url(../src/assets/bg-desktop-light.jpg);
    height: 305px;
  }
}

@media (min-width: 90rem) {
  .app_wrapper {
    justify-content: flex-start;
    gap: 40px;
    padding-top: 80px;
  }
}

@media (prefers-color-scheme: dark) {
  .app_wrapper.dark-scheme {
    background-image: url(../src/assets/bg-mobile-dark.jpg);
  }

  @media (min-width: 64rem) {
    .app_wrapper.dark-scheme {
      background-image: url(../src/assets/bg-desktop-dark.jpg);
    }
  }
}
