* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Josefin Sans", sans-serif;
  --font_medium: 400;
  --font_bold: 700;

  /* Colors */

  /* Primary */
  --bright_blue: hsl(220, 98%, 61%);
  --check_background: linear-gradient(
    80deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Light Theme */

  --very_light_gray: hsl(0, 0%, 98%);
  --very_light_grayish_blue: hsl(236, 33%, 92%);
  --light_grayish_blue: hsl(233, 11%, 84%);
  --dark_grayish_blue: hsl(236, 9%, 61%);
  --very_dark_grayish_blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --dark_very_dark_blue: hsl(235, 21%, 11%);
  --dark_very_dark_desaturated_blue: hsl(235, 24%, 19%);
  --dark_light_grayish_blue: hsl(234, 39%, 85%);
  --dark_light_grayish_Blue_hover: hsl(236, 33%, 92%);
  --dark_dark_grayish_blue: hsl(234, 11%, 52%);
  --dark_very_dark_grayish_blue: hsl(233, 14%, 35%);
  --dark_very-dark_grayish_blue_2: hsl(237, 14%, 26%);
}

body {
  font-family: var(--font);
  font-size: 16px;
}
